<div class="container">
  <app-time-display [time]="time"></app-time-display>
  <div class="btn-container">
    <app-control-button
      icon="play_arrow"
      (btnClick)="startTimer()"
    ></app-control-button>
    <app-control-button
      icon="pause"
      id="waitBtn"
      (btnClick)="waitTimer()"
    ></app-control-button>
    <app-control-button
      icon="stop"
      (btnClick)="stopTimer()"
    ></app-control-button>
    <app-control-button
      icon="refresh"
      (btnClick)="resetTimer()"
    ></app-control-button>
  </div>
</div>
